<div class="container-fluid">
    <div class="row">
         <img src="./layouts/images/burgerimg.jpg" class="img-responsive center-block">
    </div>
    
    
    <div class="row">
        <div class="col-sm-6">
            <h2>Undevoured burgers</h2>
            {{#each burgers}}
            {{#unless devoured}}
            <div>
                {{burger_name}} <button class="devour" value={{id}}> Devour </button>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-sm-6">
            <h2>Devoured burgers</h2>
            {{#each burgers}}
            <div>
                {{#if devoured}}
                {{burger_name}}
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <form id="burgerform">
            <label for="addburger">What is the name of your burger?</label><br>
            <input type="text" id="addburger" name="addburger"><br>
            <button type="submit">Add A Burger</button>
        </form>
    </div>
</div>